.business-review-buttons {
    padding: 0 0 22px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

.business-review-buttons .submit-review-button {
    padding: 1px 0 0 0;
    margin: 0;
    background-color: #e20d14;
    width: 200px;
    height: 34px;
    border-radius: 3px;
    cursor: pointer;
}

.business-review-buttons .submit-review-button a {
    padding: 8px 31px;
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 16px;
}