#search-bar > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3vw;
    height: 100%;
    font-size: 1.5vw;
    overflow: hidden;
}

.clickable {
    color: rgb(255, 255, 255);
    background-color: rgb(229, 13, 13);
    cursor: pointer;
}

.clickable:hover {
    background-color: rgb(255, 0, 0);
    transition: all 0.5s ease-out;
}

.unclickable {
    color: rgb(235, 235, 235);
    background-color: transparent;
    cursor: not-allowed;
}

.ripple {
    position: absolute;
    background-color: rgb(246, 246, 246);
    opacity: 0%;
    border-radius: 100%;
    animation: ripple 1s linear;
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 60%;
    }
    to {
        transform: scale(6);
        opacity: 0%;
    }
}