.review-form .textarea-container {
    border: 1px solid #c8c9ca;
    padding: 0 50px;
    margin: 0 0 20px 0;
}

.review-form textarea {
    width: 626px;
    height: 200px;

    border-style: none;
    outline: none;
}


.select-rating-stars {
    font-size: 2.1vw;
}

.select-rating-stars > button {
    margin: 0 0 0 0.24vw;
    line-height: 0;
    cursor: pointer;
}

.select-rating-stars > button:first-child {
    margin: 0;
}

.select-rating-stars > .content {
    margin: 0 0 0 1.44vw;
}


.review-form-errors-container {
    margin-top: -18px;
    color: #e20d14;
}