#map .gm-style-iw-t > div:first-child {
    width: 26vw;
    margin: 0 !important;
    padding: 0 !important;
}

#map .gm-style-iw-d {
    overflow:unset !important;
}

#map button.gm-ui-hover-effect {
    display: none !important;
}

#map .info-window {
    padding: 0vw;
}

.info-window > div {
}

.info-window .thumbnail {
    width: 24vw;
    height: 16vw;
    object-fit: cover;
    object-position: 0% 50%;
    border-radius: 1vw;
}

.info .google-map-item-name {
    font-size: 18px;
}

.info .google-map-item-category {
    font-size: 14px;
}