.info-window {
    padding: 1vw;
}

.info-window > div {
}

.info-window .thumbnail {
    width: 24vw;
    height: 16vw;
    object-fit: cover;
    object-position: 0% 50%;
    border-radius: 1vw;
}

.info .google-map-item-name {
    font-size: 18px;
}

.info .google-map-item-category {
    font-size: 14px;
}