#map .gm-style-iw-t > div:first-child {
    margin: 0 !important;
    padding: 0 !important;
}

#map .gm-style-iw-d {
    width: 24vw;
    overflow:unset !important;
}

#map button.gm-ui-hover-effect {
    display: none !important;
}

#map .gm-style-iw-tc, #info-window {
    cursor: pointer;
}

#info-window {
    padding: 1.2vw;
}

#info-window .thumbnail {
    width: 100%;
    height: 12.96vw;
    margin: 0 0 0.82vw 0;
    object-fit: cover;
    object-position: 0% 50%;
    border-radius: 1vw;
}

#info-window .name {
    font-size: 1.6vw;
    font-weight: 600;
}

#info-window .name:hover {
    text-decoration: underline;
}

#info-window > div:nth-child(3) {
    margin: 0.1vw 0 0.22vw 0;
    font-size: 1.3vw;
}

#info-window .rating-star {
    margin: 0 0.2vw 0 0;
    vertical-align: 0.1vw;
}

#info-window .avg-rating {
    margin: 0 0.2vw 0 0.8vw;
}

#info-window > div:nth-child(4) {
    font-size: 1.1vw;
    color: rgb(114, 114, 114);
}

#info-window .category:hover {
    text-decoration:underline;
}