.side-bar {
    position: sticky;
    top: 2vw;
    right: 4vw;
    float: right;
    width: 24vw;
    margin: 0 0 0 2vw;
    border: 1px solid #ebebeb;
    border-radius: 0.3vw;
}

.side-bar > li {
    padding: 1.2vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar > li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
}

.side-bar .name {
    text-align: left;
    display: block;
}

.side-bar > li:first-child .name, .side-bar > li:last-child .name:first-child {
    font-weight: 600;
    color: #027a97;
    cursor: pointer;
}

.side-bar > li:nth-child(2) .name {
    color: #2d2e2f;
}

.side-bar > li:last-child .name:last-child {
    margin: 1vw 0 0 0;
    font-size: 1.3vw;
    color: #8b8d8e;
}

.side-bar > li > button {
    width: 1.5vw;
    color: #2d2e2f;
}

.side-bar > li:not(:nth-child(2)) > button {
    cursor: pointer;
}