.card {
    margin: 0 1.2vw; /* 1.2vw is 1/30 of 36vw, and it looks good */
    padding: 1.2vw;
    border-radius: 1vw;
}

.card:hover {
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.card > div {
    display: flex;
    align-items: center;
}

.card .thumbnail {
    width: 100%;
    height: 9.8vw; /* (24vw - 1.2vw * 2) / 2 - 1vw = 9.8 */
    margin: 0 0 1vw 0;
    object-fit: cover;
    border-radius: 1vw;
}

.card .name {
    font-size: 1.8vw;
    font-weight: 600;
    color: #2D2E2F;
}

.card .name:hover {
    text-decoration: underline;
}

.card .rating-star {
    padding: 0.3vw 0.3vw 0.2vw 0; /* 0.3vw margin-top by default */
    font-size: 1.5vw;
    /* 0.3vw + 0.3vw + 1.5vw + 0.2vw + 0.4vw = 2.7vw, which is 3/2 of 1.8vw */
}

.card > div:nth-child(4) {
    flex-wrap: wrap;
}

.card > div:nth-child(4) > span {
    margin: 0.4vw 0 0 0; /* 0.4vw is 1/1 of 0.4vw */
    color: rgb(114, 114, 114);
}

.card .price {
    font-size: 1.4vw;
}

.card .dot {
    padding: 0 0.4vw;
    font-size: 0.3vw;
}

.card .category {
    padding: 0.3vw 0.6vw; /* 0.3vw * 2 + 1.2vw = 1.8vw */
    font-size: 1.2vw;
    color: rgb(114, 114, 114);
    background-color: rgb(240, 240, 240);
    border-radius: 0.5vw;
}

.card .category:hover {
    color: rgb(99, 99, 99);
    background-color: rgb(210, 210, 210);
    transition: 0.5s all ease-out;
}

.card > div:last-child > span {
    padding: 0.4vw 0 0 0; /* 0.4vw + 1.4vw = 1.8vw */
    font-size: 1.4vw;
}

.card > div:last-child > span:first-child {
    margin: 0 0.4vw 0 0; /* 0.4vw is 1/1 of 0.4vw */
    font-weight: 600;
}

.card .open {
    color: rgb(0, 128, 85);
}

.card .closed {
    color: rgb(224, 7, 7);
}

.card .hours {
    font-weight: 300;
}