.card {
    /* display: block; */
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0.5vw;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 0 1.2vw rgba(33, 33, 33, 0.2);
    cursor: pointer;
}

.card > div {
    width: 100%;
    margin: 0 0 1vw 0;
    align-items: center;
    display: flex;
}

.card .thumbnail {
    display: block;
    width: 404px;
    height: 160px;
    overflow: hidden;

    margin-bottom: 18px;
    border-radius: 5px;
}

.card .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name h1 {
    color: #2D2E2F;
    font-size: 20px;
    font-weight: 600;

    padding: 0;
    margin: 0;
}

.name .item-index {
    margin: 0;
    margin-right: 6px;
}

.name .item-name:hover {
    text-decoration: underline;
}

.card span {
    color: #2D2E2F;
    font-size: 14px;

    padding: 0;
    padding-right: 8px;
}

.card .icon-circle-container {
    font-size: 4px;
}

.business-index-item .business-open {
    color: #008055;
    font-weight: 600;
}

.business-index-item .business-closed {
    color: rgb(224, 7, 7);
    font-weight: 600;
}

.business-index-item div .category {
    margin: 0;
    margin-right: 8px;
    padding: 3px 5px;
    background-color: #ededed;
    color: #727272;
    font-weight: 700;
    border-radius: 5px;
}

.card div .category:hover {
    background-color: #dddddd;
    transition: 0.5s;
}

/* .business-index-item .business-index-avg-rating {
    padding: 0;
    margin: 0;
} */

.card .business-index-avg-rating .review-star-rating {
    padding: 0;
    margin: 0;
}

.google-map-item-nav-link .google-map-item {
    padding: 5px 0 0 6px;
    margin: 0;
    display: block;
    width: 200px;
}

.google-map-item-nav-link .google-map-item div {
    padding: 0 0 3px 0;
    font-size: 18px;
}

.google-map-item-nav-link .google-map-item .google-map-item-picture img {
    object-fit: COVER;
    object-position: 0% 0;
    width: 200px;
}

.google-map-item-nav-link .google-map-item .google-map-item-name {
    font-size: 18px;
}

.google-map-item-nav-link .google-map-item .google-map-item-category {
    font-size: 14px;
}