#review-form .inputs {
    width: 100%;
    margin: 0 0 2vw 0;
    padding: 1.5vw;
    border: 1px solid #c8c9ca;
}

#review-form .inputs > div:not(:last-child) {
    margin: 0 0 1.5vw 0;
}

#review-form .select-rating-stars {
    font-size: 1.5vw;
}

#review-form .select-rating-stars > button {
    margin: 0 0 0 0.2vw;
    line-height: 0;
    cursor: pointer;
}

#review-form .select-rating-stars > button:first-child {
    margin: 0;
}

#review-form .select-rating-stars > .content {
    margin: 0 0 0 1.2vw;
    font-weight: 300;
}

#review-form textarea {
    width: 100%;
    height: 15vw;
    padding: 0;
    line-height: 1.3;
    font-size: 1.3vw;
    border-style: none;
    outline: none;
}

#review-form .errors {
    font-size: 1.5vw;
    color: #e20d14;
}