#review-form .inputs {
    margin: 0 0 1.7vw 0;
    font-size: 1.5vw;
    border: 1px solid #c8c9ca;
}

#review-form .inputs > div {
    margin: 0 0 1.2vw 0;
}

#review-form .inputs > div:first-child {
    margin: 1.2vw 0;
}

#review-form .select-rating-stars {
    font-size: 1.7vw;
}

#review-form .select-rating-stars > button {
    margin: 0 0 0 0.2vw;
    line-height: 0;
    cursor: pointer;
}

#review-form .select-rating-stars > button:first-child {
    margin: 0;
}

#review-form .select-rating-stars > .content {
    margin: 0 0 0 1.2vw;
}

#review-form textarea {
    width: 100%;
    height: 12vw;
    border-style: none;
    outline: none;
}

#review-form .errors {
    color: #e20d14;
}