.business-header-layer {
    position: absolute;
    width: 100%;
    height: 426px;
    z-index: 3;
}

.business-header {
    position: relative;
    top: 240px;
    margin: 0;
    padding: 0 60px;
}

.business-header-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    color: white;
    font-weight: 700;
    padding: 0;
    padding-bottom: 10px;
}

.business-header-item span {
    font-size: 16px;
    padding: 0;
    padding-right: 10px;
}

.business-header-item h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 20px;
}

.business-header-item .icon-circle-container {
    font-size: 5px;
}