.business-panel-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    color: white;
    font-weight: 700;
    padding: 0;
    padding-bottom: 12px;
}

.business-panel-item span {
    font-size: 18px;
    padding: 0;
    padding-right: 10px;
}

.business-panel-item h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.business-panel-item .review-star {
    padding: 0 3px 0 0;
    font-size: 25px;
}

.business-panel-item .review-count {
    padding: 0 0 0 9px;
}

.business-panel-item .icon-circle-container {
    font-size: 5px;
}

.business-panel-item .business-open {
    color: #008055;
    font-weight: 600;
}

.business-panel-item .business-closed {
    color: rgb(224, 7, 7);
    font-weight: 600;
}

.hoverable-categories:hover {
    cursor: pointer;
    text-decoration: underline;
}