.review-container {
    border-bottom: 1px solid #e5e5e5;
}

.review-container > div {
    padding: 0;
    padding-bottom: 0px;
}

.review-container > .review-rating-container {
    padding: 0;
    padding-bottom: 6px;
}

.review-container div .review-date {
    padding: 0 0 0 6px;

    color: #6d6d6d;
}

.review-body p {
    padding: 0 0 20px 0;

    color: #454545;
}

.review-star-rating {
    display: inline-block;
}

.review-star-rating span {
    font-size: 18px;
}

.review-star-rating .review-star {
    color: #c9c9c9;
}