.review {
    border-bottom: 1px solid #e5e5e5;
}

.review > div:first-child {
    margin: 1vw 0;
}

.review h1 {
    font-size: 1.9vw;
    font-weight: 600;
}

.review > div:nth-child(2) {
    margin: 0 0 0.5vw 0;
    font-size: 1.7vw;
}

.review .rating-star:not(:first-child) {
    margin: 0 0 0 0.2vw;
    line-height: 0;
}

.review .date {
    margin: 0 0 0 1.2vw;
    color: #6d6d6d;
}

.review > div:last-child {
    margin: 0 0 1vw 0;
}

.review p {
    line-height: 1.5;
    color: #454545;
}

.review p:not(:last-child) {
    margin: 0 0 0.5vw 0;
}


.review-at-home-page {
    max-width: 360px;

    margin: 0 0 10px 0;
    padding: 12px 15px;

    border: 1px solid #EBEBEB;

    flex: 0 0 33%;
}

.review-at-home-page > div {
    padding: 0 0 5px 0;
}

.review-at-home-page .review-email {
    padding: 0 0 10px 0;
}

.review-at-home-page .review-email h1 {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 5px 0;
    cursor: not-allowed;
}

.review-at-home-page .review-email h1:hover {
    text-decoration: underline;
}

.review-at-home-page .review-email h2 {
    font-weight: 500;
}

.review-at-home-page .review-business a {
    font-weight: 600;
    color: #027A97;
    text-decoration: none;
}

.review-at-home-page .review-business a:hover {
    text-decoration: underline;
}

.review-at-home-page .review-body {
    padding: 0;
    margin: 0;
}

.review-at-home-page .review-body p{
    font-weight: 500;
    padding: 0 0 2px 0;
}

.review-at-home-page .review-body a {
    font-weight: 500;
    color: #027A97;
    text-decoration: none;
}

.review-at-home-page .review-body a:hover {
    text-decoration: underline;
}

.review-at-home-page .review-rating svg {
    font-size: 16px;
}