.arrows {
    position: absolute;

    width: 100%;
    height: 420px;
    padding: 0;

    background: linear-gradient(0deg, black, transparent 50%, transparent);

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
}

.arrows > button {
    font-size: 42px;
    color: rgb(255, 255, 255, 0.7);
        
    &:not(.inactive):hover {
        color: rgb(255, 255, 255, 1);
        cursor: pointer;
    }
}

.arrows > .inactive {
    color: rgb(255, 255, 255, 0.3);
}

.slides {
    position: relative;
    width: 100%;
    height: 420px;
    white-space: nowrap;
    transition: left 1s;
}

.slides > img {
    width: auto;
    height: 100%;
}