#business-show .show-form-button {
    width: 18vw;
    height: 3.6vw;
    margin: 0 0 2vw 0;
    font-size: 1.7vw;
    color: #ffffff;
    background-color: #e20d14;
    cursor: pointer;
    border-radius: 0.3vw;
}

#business-show .show-form-button:hover {
    background-color: #ff0000;
    transition: background-color 0.5s ease-out;
}

#business-show .show-form-button > span:first-child {
    margin: 0 0.7vw 0 0;
    line-height: 0;
}