#business-index {
    width: 100%;
    height: 64vw;
    display: flex;
}

#business-index > div:first-child {
    width: 36%;
    overflow: scroll;
}

#business-index > div:last-child {
    width: 64%;
}

#business-index .search-not-found {
    padding: 9vw 0 0 0;
    font-size: 3vw;
    font-weight: 600;
    color: black;
    text-align: center;
}