.panel {
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;

    font-weight: 700;
    padding: 0;
    padding-bottom: 12px;

    z-index: 2;
}

/* .panel span {
    font-size: 18px;
    padding: 0;
    padding-right: 10px;
}

.panel h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.panel .review-star {
    padding: 0 3px 0 0;
    font-size: 25px;
}

.panel .review-count {
    padding: 0 0 0 9px;
}

.panel .icon-circle-container {
    font-size: 5px;
}

.panel .business-open {
    color: #008055;
    font-weight: 600;
}

.panel .business-closed {
    color: rgb(224, 7, 7);
    font-weight: 600;
}

.hoverable-categories:hover {
    cursor: not-allowed;
    text-decoration: underline;
} */