.panel {
    position: absolute;

    width: 100%;

    /* display: flex;
    align-items: center;
    white-space: nowrap; */
    color: #ffffff;
    font-weight: 600;

    background-color: #00b77a;
}

.panel > div {
    background-color: #e50045;
}

.panel .name {
    font-size: 3vw;
}

.panel .review-star {
    padding: 0 3px 0 0;
    font-size: 25px;
}

.panel .review-count {
    padding: 0 0 0 9px;
}

.panel .icon-circle-container {
    font-size: 5px;
}

.panel .business-open {
    color: #008055;
    font-weight: 600;
}

.panel .business-closed {
    color: rgb(224, 7, 7);
    font-weight: 600;
}

.hoverable-categories:hover {
    cursor: not-allowed;
    text-decoration: underline;
}