nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: pink;
}

nav > div {
    margin: 0 0 0 2vw;
    display: flex;
    align-items: center;
}

nav > div:nth-child(2) {
    margin-right: 6vw;
}

nav > div:nth-child(4) {
    margin-right: 2vw;
}