nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: black;
}

/* > selector */
/* select every <div> where the parent is a <nav> element: */
/* https://www.w3schools.com/cssref/sel_element_gt.php */
nav > div {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.nav-title {
    text-decoration: none;
    white-space: nowrap;
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: green;
}

.nav-title i {
    padding: 0 0 0 10px;
    color: #e50d0d;
}

div > a > .icon {
    width: 60px;
    height: 60px;
    margin: 3px 0 0 0;
}

div > a:first-child > .icon {
    margin-right: 15px;
}

nav .button {
    width: 120px;
    height: 60px;
    margin: 0;
    padding: 20px 0 0 0;
    border-radius: 6px;
    font-size: 27px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

nav .login-button {
    border: 3px solid #FFFFFF;
    margin-right: 15px;
}

nav .login-button:hover {
    background-color: rgb(176, 176, 176, 0.5);
    transition: all 0.5s ease-out;
}

nav .signup-button {
    background-color: #e50d0d;
}

nav .signup-button:hover {
    background-color: #ff0000;
    transition: all 0.5s ease-out;
}