@import "./Parts/Title.css";
@import "./Parts/Icons.css";
@import "./Parts/AuthButtons.css";

nav {
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    margin: 0;
    display: flex;
    align-items: center;
}