.nav-title {
    text-decoration: none;
    white-space: nowrap;
    color: #FFFFFF;
}
.nav-title i {
    color: #e50d0d;
}

@media only screen and (min-width: 1201px) {
    .nav-title {
        font-size: 70px;
        font-weight: 900;
    }
    .nav-title i {
        padding-left: 9px;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-title {
        font-size: 63px;
        font-weight: 800;
    }
    .nav-title i {
        padding-left: 8px;
    }
}

@media only screen and (max-width: 1050px) {
    .nav-title {
        font-size: 56px;
        font-weight: 700;
    }
    .nav-title i {
        padding-left: 7px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-title {
        font-size: 49px;
        font-weight: 600;
    }
    .nav-title i {
        padding-left: 6px;
    }
}

@media only screen and (max-width: 750px) {
    .nav-title {
        font-size: 42px;
        font-weight: 500;
    }
    .nav-title i {
        padding-left: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-title {
        font-size: 35px;
        font-weight: 400;
    }
    .nav-title i {
        padding-left: 4px;
    }
}

@media only screen and (max-width: 450px) {
    .nav-title {
        font-size: 28px;
        font-weight: 300;
    }
    .nav-title i {
        padding-left: 3px;
    }
}

@media only screen and (max-width: 300px) {
    .nav-title {
        font-size: 21px;
        font-weight: 200;
    }
    .nav-title i {
        padding-left: 2px;
    }
}