@media only screen and (min-width: 901px) {
    .nav-title {
        font-size: 45px;
    }

    .nav-title i {
        padding-left: 5px;
    }

    .search-bar {
        height: 60px;
        border-radius: 5px;
    }

    .search-bar input {
        padding: 0 0 0 14px;
        font-size: 20px;
    }

    .search-bar > span {
        width: 5px;
        height: 60px;
    }

    .search-bar > span::before {
        width: 5px;
        height: 40px;
        margin: 10px 0;
    }

    .search-bar button {
        padding: 0 15px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .nav-title {
        font-size: 30px;
    }

    .nav-title i {
        padding-left: 3px;
    }

    .search-bar {
        height: 42px;
        border-radius: 3px;
    }

    .search-bar input {
        padding: 0 0 0 10px;
        font-size: 14px;
    }

    .search-bar > span {
        width: 4px;
        height: 42px;
    }

    .search-bar > span::before {
        width: 4px;
        height: 28px;
        margin: 7px 0;
    }

    .search-bar button {
        padding: 0 11px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .nav-title {
        font-size: 16px;
    }

    .nav-title i {
        padding-left: 2px;
    }

    .search-bar {
        height: 24px;
        border-radius: 2px;
    }

    .search-bar input {
        padding: 0 0 0 6px;
        font-size: 8px;
    }

    .search-bar > span {
        width: 3px;
        height: 24px;
    }

    .search-bar > span::before {
        width: 3px;
        height: 16px;
        margin: 4px 0;
    }

    .search-bar button {
        padding: 0 6px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 300px) {
    .nav-title {
        font-size: 12px;
    }

    .nav-title i {
        padding-left: 2px;
    }

    .search-bar {
        height: 18px;
        border-radius: 2px;
    }

    .search-bar input {
        padding: 0 0 0 4px;
        font-size: 6px;
    }

    .search-bar > span {
        width: 2px;
        height: 18px;
    }

    .search-bar > span::before {
        width: 2px;
        height: 12px;
        margin: 3px 0;
    }

    .search-bar button {
        padding: 0 5px;
        font-size: 8px;
    }

    nav .button {
        width: 20px;
        padding: 0 0 0 0;
        border-radius: 3px;
        font-size: 4px;
    }

    nav .login-button {
        border: 1px solid #FFFFFF;
        margin-right: 3px;
    }
}