.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 2;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.search-bar > div {
    width: 100%;
    height: 100%;
}

.search-bar input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 15px;
    border-style: hidden;
    outline: none;
    font-size: 27px;
}

.search-bar > span {
    position: relative;
    width: 10px;
    height: 60px;
}

.search-bar > span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 36px;
    margin: 12px 0;
    content: '';
    background-color: #EBEBEB;
    z-index: 2;
}

.search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 27px;
    color: #FFFFFF;
    background-color: #e50d0d;
    z-index: 2;
}

.search-bar button:hover {
    cursor: pointer;
}

span.ripple {
    position: absolute;
    border-radius: 100%;
    transform: scale(0);
    animation: ripple 0.8s linear;
    background-color: #F6F6F6;
}

@keyframes ripple {
    to {
        transform: scale(6);
        opacity: 0.5;
    }
}