.search-bar {
    flex-grow: 2;

    display: flex;
    align-items: center;

    overflow: hidden;
    border-radius: 5px;

    box-shadow: 0 0 36px #00000026;
}

.search-bar input {
    width: 100%;
    height: 40px;

    padding: 4px 14px;
    margin: 0;

    font-size: 16px;

    border-style: hidden;
    outline: none;
}

.search-bar span {
    width: 3px;
    height: 24px;
    padding: 12px 1px;
    background-color: #EBEBEB;
}

.search-bar button {
    /* width: 56px; */
    height: 48px;

    padding: 0 14px 0 16px;

    font-size: 24px;
    color: #FFFFFF;

    background-color: rgb(244, 13, 21);
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;
}