.search-bar {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 20px;

    overflow: hidden;
    border-radius: 5px;

    box-shadow: 0 0 36px #00000026;
}

.search-bar input {
    height: 40px;

    padding: 4px 14px;
    margin: 0;

    font-size: 16px;

    border-style: hidden;
    outline: none;
}

.search-bar span {
    width: 2px;
    height: 24px;
    padding: 12px 0;
    background-color: #EBEBEB;
}

.search-bar button {
    width: 56px;
    height: 48px;

    font-size: 24px;
    color: #FFFFFF;

    background-color: rgb(244, 13, 21);
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;
}